<div class="form-group row">
  <label for="{{ id }}" class="col-sm-3 col-form-label">{{ label }}</label>
  <div class="col-sm-9">
    <textarea class="form-control" rows="{{ rows }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" title="{{ title }}"
      {{#if disabled}} disabled{{/if}} {{#if readonly}} readonly{{/if}}>{{ value }}</textarea> </div> </div>
